.gradle/
.gradle-cache/
.gradle-user/
.eclipse/
bin/
build/
out/
run/
runs/
.run/
*.class
*.log
*.tmp
*.bak
*.orig
/.idea/
/.settings/
/.vscode/
/.VSCodeCounter/
/modelForCodex/
/logs/
/crash-reports/
/hs_err_pid*
/replay_pid*
/src/generated/resources/.cache/
error_report/